<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:context="http://www.springframework.org/schema/context"
      xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">
          
          <!-- 스프링 프레임워크에 객체간의 관계를 설명 -->
          
          <!-- 스프링에게 인스턴스 생성을 등록 (스프링이 싱글톤으로 생성)-->
          <bean class="springapp.cook.Fripan" id="fripan"/>
          <bean class="springapp.cook.Induction" id="induction"/>
          
          <!-- Cook 클래스는 Pan을 생성자로 주입받기를 원함 -->
          <bean class="springapp.cook.Cook" id="cook">
          	<constructor-arg ref="fripan"/>
          </bean>
</beans>	