<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="mall.domain.Notice" alias="Notice"/>
		<typeAlias type="mall.domain.TopCategory" alias="TopCategory"/>
		<typeAlias type="mall.domain.SubCategory" alias="SubCategory"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jndi/mysql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mall/mybatis/NoticeMapper.xml" />  
		<mapper resource="mall/mybatis/TopCategoryMapper.xml" />  
		<mapper resource="mall/mybatis/SubCategoryMapper.xml" />  
	</mappers>
</configuration>
